<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/documentation.css" | relative_url }}">
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </head>
  <body>
    <div class="site-container">
      <header class="site-header">
        <div class="header-content">
          <div class="site-title">
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
          </div>
          
          {% if site.description %}
          <div class="site-description">
            <p>{{ site.description }}</p>
          </div>
          {% endif %}
        </div>
      </header>
      
      <main class="site-main">
        <div class="content-wrapper">
          {{ content }}
        </div>
      </main>
      
      <footer class="site-footer">
        <div class="footer-content">
          {% if site.github.is_project_page %}
          <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
          {% endif %}
          <p><small>Source hosted on GitHub &mdash; Page hosted on <a href="https://readthedocs.com">Read the Docs</a></small></p>
        </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
